* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font: "Quicksand", sans-serif;
  --grad: linear-gradient(to right, #f3723b, #e54750);
}

body {
  width: 100vw;
  height: 100vh;

  font-family: var(--font);
  font-size: 16px;
  color: white;

  background-image: url(bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  width: 100%;
  height: 100%;
  padding: 1em;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  align-items: center;
}

aside {
  /* margin-left: 2em; */
  margin: 0 auto;
  width: 72%;
  height: 75%;
  min-width: 400px;
  min-height: 650px;
  max-width: 500px;
  max-height: 800px;
  padding: 3.5rem;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.749);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside #h1 {
  text-align: center;
  /* font-size: 1.8em;
  font-weight: bold; */
  width: 10em;
  margin: 0 auto;
}

aside form {
  width: 100%;
}

aside form label {
  display: block;
}

aside form input {
  display: block;
  width: 100%;
  margin: 0.7em 0 1.5em;
  padding: 1.2em 1.1em;
  background-color: transparent;
  border: solid 2.5px rgb(84, 84, 84);
  border-radius: 0.7em;
  color: rgb(167, 167, 167);
  font-size: 0.9em;
  letter-spacing: 0.13em;
}

aside form input:focus {
  border: 2.5px solid #e54750;
  outline: none;
}

aside form input::placeholder {
  /* font-size: 1.1em; */
  color: rgb(135, 135, 135);
}

aside form span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside form span input,
aside form span label {
  /* display: inline-block; */
  margin: 0px;
  padding: 0px;
  justify-self: flex-start;
}

aside form button {
  width: 100%;
  margin-top: 1.5em;
  padding: 1.2em;
  border-radius: 0.7em;
  /* border: solid 2px white; */
  border: none;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.1em;
  background: linear-gradient(to right, #f3723b, #e54750);
  color: white;
}

aside span > a,
aside form span p > a {
  color: #f3723b;
}

aside span > a:hover,
aside form span p > a:hover {
  text-decoration: none;
}

header {
  align-self: flex-end;
  margin-bottom: 18%;
  font-size: 1.6em;
  width: 450px;
}

header h2 {
  font-size: 2em;
  color: #e54750;
  margin-bottom: 0.3em;
}

header p {
  color: rgb(240, 240, 240);
}

@media (max-width: 900px) {
    header {
        display: none;
    }

    section {
        grid-template-columns: 1fr;
        padding: 0;
        height: 100vh;
    }
}
